@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.hamburger {
	width: 5rem;
	gap: 1rem;
	cursor: pointer;

	&__lines {
		border: 2px solid white;
		display: block;
		border-radius: 1rem;

		&:nth-child(1),
		&:nth-child(3) {
			width: 80%;
		}
		&:nth-child(2) {
			width: 100%;
		}
	}
}
