@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
$size: 6.5rem;

.hamburger {
	padding: 1rem;
	position: relative;
	border: 2px solid white;
	border-radius: 5px;
	height: $size;
	width: $size;
	cursor: pointer;

	&:hover {
		background-color: v.$color-secondary;
	}

	&__line {
		position: relative;
		border: 2px solid white;

		:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
