@forward './bs_breakpoints';

@mixin displayFlex(
	$direction: row,
	$main: flex-start,
	$cross: flex-start,
	$wrap: wrap
) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $main;
	align-items: $cross;
}

@mixin dropShadow($color: black) {
	box-shadow: 2px 4px 8px rgba($color, 0.35);
}

@mixin fitMedia($selector: img, $fit: contain, $position: center) {
	#{$selector} {
		width: 100%;
		height: 100%;
		object-fit: $fit;
		object-position: $position;
	}
}

@mixin absolute_100 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

@mixin background-layers {
	@include absolute_100;

	&--lower {
		@include absolute_100;
		z-index: 1;
	}

	&--upper {
		@include absolute_100;
		z-index: 2;
	}
}
