@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../components/front-page/quick-sell';
@use '../components/swiper';

@mixin full-size {
	height: 100%;
	width: 100%;
}

.hero {
	position: relative;
	padding-bottom: 4rem;

	&__background {
		@include m.background-layers;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);

		&--lower {
			background: url(../../assets/images/bg-images/homepage--hero.jpg)
				center/cover no-repeat;
		}

		&--upper {
			background-color: rgba(black, 0.5);
		}
	}

	&__content {
		transform: translateY(20%);
	}

	&__text {
		&--headline {
			color: white;
		}
	}
}

.selling-points {
	img {
		width: 100%;
		max-height: 40rem;
		object-fit: contain;
	}

	&__underlines {
		width: 100%;

		%lines {
			border-width: 2px;
			border-style: solid;
			border-radius: 5px;
			opacity: 1;
			width: 100%;
		}
		&--line-1 {
			@extend %lines;
			border: v.$color-grey--light;
		}
		&--line-2 {
			@extend %lines;
			border-color: v.$color-primary;
		}
	}
}

.the-plan {
	&__content {
		width: 60%;
		margin-bottom: 3rem;
		span {
			display: block;
			margin: 2rem auto 4rem auto;
		}
	}

	.scroll-reveal {
		&__item {
			@include m.displayFlex($cross: center, $wrap: nowrap);
			gap: 2rem;
			padding: 2rem;

			&:not(:last-child) {
				border-bottom: 2px solid white;
			}

			&:nth-child(1) {
				width: 70%;
			}

			&:nth-child(2) {
				width: 60%;
			}

			&:nth-child(3) {
				width: 60%;
			}

			.headline {
				display: block;
				margin-left: 2rem;
			}
		}
	}
}
