@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.hero {
	background: url(../../assets/images/homepage--hero.jpg) center/cover no-repeat;
	position: relative;
	// height: 80rem;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);

	&__image-overlay {
		position: absolute;
		background-color: rgba(black, 0.5);
		width: 100%;
		height: 100%;
	}

	.headline {
		color: white;
	}
}
aside.quick-sell {
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.first-cta {
	background: url(../../assets/images/bgwithhills.png) center/cover no-repeat;

	> div > div {
		width: 60vw;
	}
}

.testimonials .row .col {
	border: 3px solid black;
	margin-left: 40px;
	margin-right: 40px;
	padding: 5vh 0vh;
}

.final-cta {
	background: url(../../assets/images/bglastsection.png);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;

	> div > div {
		width: 70vw;
	}
}

.problems {
	> div > div {
		width: 60vw;
	}
	.row.text-center.mx-auto {
		width: 80vw;
		margin-top: 5vh;
	}
}

.selling-points {
	.mx-auto.text-center {
		width: 40vw;
	}
}
