@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

section {
	position: relative;

	&:not(.hero) {
		padding: 6.5rem 0;
	}
}

figure {
	margin-bottom: 0;
}

main {
	position: relative;
}
.container {
	position: relative;
}

.row {
	position: relative;
}

.col {
	@include m.displayFlex(column);
	position: relative;
	height: auto;
}

.bg-color-primary {
	background-color: v.$color-primary;
	color: white;
}

.hide {
	display: none !important;
	visibility: hidden !important;
}
