@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	font-size: 1.6rem;
	box-sizing: border-box;
}

:root {
	--font-headings: #{v.$font-headings};
	--font-body: #{v.$font-body};
	--color-primary: #{v.$color-primary};
	--color-primary--dark: #{v.$color-primary--dark};
	--color-primary--darkest: #{v.$color-primary--darkest};
	--color-grey: #{v.$color-grey};
	--color-grey--light: #{v.$color-grey--light};
}
